<!DOCTYPE html>
<html>
  <head>
    <title>PoetryNMotion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
         <nav>
          <div class="nav-wrapper black">
            <a href="/" class="brand-logo"><i class="material-icons">cloud</i>PM</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/About"><i class="material-icons">all_inclusive</i></a></li>
              <li><a href="/library"><i class="material-icons">collections</i></a></li>
              <li><a href="/FindEvent"><i class="material-icons">keyboard_voice</i></a></li>

              <li><a href="/Signin_Signup"><i class="material-icons">fingerprint</i></a></li>
               <%if current_poet %>
               <li><a href="/Profile"><i class="material-icons">person</i></a></li>
               <li><a href="/Logout"><i class="material-icons">settings_power</i></a></li>
               <% end %>
            </ul>
          </div>
        </nav>
       <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <%= yield %>
  </body>
</html>
